/* Reset some default styles for better consistency */
body, h2, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background: url('backgroundmatches.jpg') center center/cover no-repeat fixed;
    color: #333;
    text-align: center;
}

h1, h2, p {
    margin: 0;
    text-shadow: 4px 4px 10px green;
    font-style: italic;
}

nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    color: white;
    text-shadow: 4px 4px 10px green;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: gold; /* Change text color to white on hover */
    transition: background-color 0.3s, color 0.3s; /* Add transitions for background and text color */
    font-weight: bold;
    text-shadow: 4px 4px 10px green;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.column {
    flex: 0 0 30%; /* Set column width */
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    transition: background-color 0.3s;
}

.column:hover {
    background-color: #F5F5F5; /* Change background color on hover */
    color: gold; /* Change text color to white on hover */
    transition: background-color 0.3s, color 0.3s; /* Add transitions for background and text color */
    font-weight: bold;
    text-shadow: 4px 4px 10px green;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    text-shadow: 4px 4px 10px green;
}

h2:hover {
    color: gold; /* Change text color to white on hover */
    transition: background-color 0.3s, color 0.3s; /* Add transitions for background and text color */
    font-weight: bold;
    text-shadow: 4px 4px 10px green;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    text-shadow: 4px 4px 10px green;
    font-weight: bold;
}

input[type="text"]:hover {
    color: gold; /* Change text color to white on hover */
    transition: background-color 0.3s, color 0.3s; /* Add transitions for background and text color */
    font-weight: bold;
    text-shadow: 4px 4px 10px green;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 4px 4px 10px green;
    transition: background-color 0.3s;
}

button:hover {
    color: gold; /* Change text color to white on hover */
    transition: background-color 0.3s, color 0.3s; /* Add transitions for background and text color */
    font-weight: bold;
    text-shadow: 4px 4px 10px green;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 5px 0;
    padding: 0;
    border-radius: 50px; /* Add round border */
    font-size: 16px;
}

#selected-players {
    cursor: pointer; /* Add a pointer cursor for hover effect */
    transition: background-color 0.3s, color 0.3s; /* Add transitions for background and text color */
    color: white;
    font-weight: bold;
    text-shadow: 4px 4px 10px green;
}

#goal-list {
    cursor: pointer; /* Add a pointer cursor for hover effect */
    transition: background-color 0.3s, color 0.3s; /* Add transitions for background and text color */
    color: white;
    font-weight: bold;
    text-shadow: 4px 4px 10px green;
}

#match-time {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 4px 4px 10px green;
}

#match-time:hover {
    color: gold; /* Change text color to white on hover */
    transition: background-color 0.3s, color 0.3s; /* Add transitions for background and text color */
    font-weight: bold;
    text-shadow: 4px 4px 10px green;
}

#match-winner {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 4px 4px 10px green;
}

#match-winner:hover {
    color: gold; /* Change text color to white on hover */
    transition: background-color 0.3s, color 0.3s; /* Add transitions for background and text color */
    font-weight: bold;
    text-shadow: 4px 4px 10px green;
}

#message {
    font-size: 24px;
    color: white; /* Dark orange color for messages */
    font-weight: bold;
    text-align: center;
    text-shadow: 4px 4px 10px green;
}

#message:hover {
    color: gold; /* Change text color to white on hover */
    transition: background-color 0.3s, color 0.3s; /* Add transitions for background and text color */
    font-weight: bold;
    text-shadow: 4px 4px 10px green;
}

#countdown {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 4px 4px 10px green;
}

#countdown:hover {
    color: gold; /* Change text color to white on hover */
    transition: background-color 0.3s, color 0.3s; /* Add transitions for background and text color */
    font-weight: bold;
    text-shadow: 4px 4px 10px green;
}
/* CSS for the time display */
#time {
    position: absolute;
    top: 11px;
    right: 15px;
    text-shadow: 4px 4px 10px green;
    font-weight: bold;
    font-style: italic;
    margin: 5px 0;
    padding: 0;
    font-size: 16px;
    color: white;
}

#time:hover {
    color: gold; /* Change text color to white on hover */
    transition: background-color 0.3s, color 0.3s; /* Add transitions for background and text color */
    font-weight: bold;
    text-shadow: 4px 4px 10px green;
}

#goal-counter {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 4px 4px 10px green;
}

#goal-counter:hover {
    color: gold; /* Change text color to white on hover */
    transition: background-color 0.3s, color 0.3s; /* Add transitions for background and text color */
    font-weight: bold;
    text-shadow: 4px 4px 10px green;
}