* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: montserrat, sans-serif;
  }
  
  header {
      background-color: #333;
      color: white;
      text-align: center;
      padding: 20px; /* Add padding to create a border */
      display: flex; /* Use flexbox for positioning */
      align-items: center; /* Center items vertically within the header */
  }
  
  #logo {
      width: 50px; /* Adjust the width of your logo as needed */
      height: auto; /* Maintain aspect ratio */
      margin-right: 10px; /* Add some space to the right of the logo */
  }
  
  h1 {
      margin: 0; /* Remove margin around the h1 element */
      font-style: italic;
  }
  
  nav {
  background-color: #333;
  }
  
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
  
  li {
  display: inline;
  margin-right: 20px;
  }
  
  a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-style: italic;
  text-shadow: 4px 4px 10px green;
  }
  
  a:hover {
  color: green; /* Change color on hover */
  }
  
  #time {
  position: absolute;
  top: 30px;
  right: 15px;
  text-shadow: 4px 4px 10px green;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  color: White;
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
  }
  main:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: rgba(34, 34, 34, 0.5);
  }
  main .content {
    position: relative;
    z-index: 1;
  }
  main .content h1 {
    color: #FFF;
    font-size: 28px;
    font-weight: 900;
  }
  main .content h1 span {
    font-weight: 400;
  }
  @media screen and (min-width: 480px) {
    main .content h1 {
      font-size: 36px;
    }
  }
  @media screen and (min-width: 768px) {
    main .content h1 {
      font-size: 42px;
    }
  }
  @media screen and (min-width: 1024px) {
    main .content h1 {
      font-size: 56px;
    }
  }
  @media screen and (min-width: 1280px) {
    main .content h1 {
      font-size: 72px;
    }
  }

  main .content p {
    color: #FFF;
    font-size: 14px;
    font-weight: 900;
  }
  main .content h1 span {
    font-weight: 400;
  }
  @media screen and (min-width: 480px) {
    main .content h1 {
      font-size: 18px;
    }
  }
  @media screen and (min-width: 768px) {
    main .content h1 {
      font-size: 21px;
    }
  }
  @media screen and (min-width: 1024px) {
    main .content h1 {
      font-size: 28px;
    }
  }
  @media screen and (min-width: 1280px) {
    main .content h1 {
      font-size: 36px;
    }
  }
  main .content h2 {
    color: #FFF;
    font-size: 42px;
    font-weight: 900;
    margin: 30px 0px;
  }
  @media screen and (min-width: 480px) {
    main .content h2 {
      font-size: 56px;
    }
  }
  @media screen and (min-width: 768px) {
    main .content h2 {
      font-size: 72px;
    }
  }
  @media screen and (min-width: 1024px) {
    main .content h2 {
      font-size: 96px;
    }
  }
  @media screen and (min-width: 1280px) {
    main .content h2 {
      font-size: 128px;
    }
  }
  main .content .countdown {
    color: #FFF;
    font-size: 36px;
    font-weight: 400;
  }
  @media screen and (min-width: 480px) {
    main .content .countdown {
      font-size: 42px;
    }
  }
  @media screen and (min-width: 768px) {
    main .content .countdown {
      font-size: 56px;
    }
  }
  @media screen and (min-width: 1024px) {
    main .content .countdown {
      font-size: 72px;
    }
  }
  @media screen and (min-width: 1280px) {
    main .content .countdown {
      font-size: 88px;
    }
  }
  
  /*# sourceMappingURL=main.css.map */
  
