/* Example CSS styles for player cards */
.player-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    text-shadow: 4px 4px 10px green;
    font-weight: bold;
    font-style: italic;
    display: inline-block;
    width: 200px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow: hidden; /* Add overflow property to hide overflowing content */
}

.player-card img {
    max-width: 100%;
    height: 200px;
    font-size: 14px;
    text-shadow: 4px 4px 10px green;
    font-weight: bold;
    font-style: italic;
}

.player-card p {
    margin: 5px 0;
    font-size: 14px;
    text-shadow: 4px 4px 10px green;
    font-weight: bold;
    font-style: italic;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Add ellipsis for long player names */
.player-card .playerName {
    overflow: hidden;
    font-size: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Reset styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
}

#logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

h1, h2, p {
    margin: 0;
    text-shadow: 4px 4px 10px green;
    font-style: italic;
}

/* Main content styles */
main {
    text-align: center;
    padding: 20px;
}

button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-shadow: 4px 4px 10px green;
    font-weight: bold;
    font-style: italic;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

playerInfo

.playerName {

	    text-shadow: 4px 4px 10px green;
	    font-weight: bold;
	    font-style: italic;
}

.pack-container {
	display: flex;
        flex-direction: column;
        align-items: center;
}

.pack-feed {
        margin-bottom: 10px;
}

.player-card {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        display: inline-block;
        max-width: 250px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Add this CSS rule to make player images smaller */
#playerImage img {
    width: 200px; /* Adjust the width as per your preference */
    height: auto; /* To maintain the aspect ratio */
}

/* Navigation styles */
nav {
    background-color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-style: italic;
    text-shadow: 4px 4px 10px green;
}

a:hover {
    color: green;
}

/* Additional styles for buttons */
.buttoncards-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.buttonpage-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

/* Style the pop-up container */
.popup {
    background-color: black;
    color: white;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 195px;
    height: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    z-index: 1;
}

/* Style the close button within the pop-up */
.popup span {
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
}

/* CSS for the time display */
#time {
    position: absolute;
    top: 30px;
    right: 15px;
    text-shadow: 4px 4px 10px green;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    color: white;
}

.fixed-text-box {
    background-color: black;
    color: white; /* Pas de tekstkleur naar wens aan */
    border: none;
    text-shadow: 4px 4px 10px green;
    font-weight: bold;
    font-style: italic;
    font-size: 11px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 200px; /* Pas de breedte aan naar wens */
    height: 230px; /* Stel de hoogte in op een waarde die overeenkomt met de hoogte van de spelerkaarten */
    overflow: none; /* Voeg scrollen toe als de inhoud groter is dan het tekstvak */
    position: fixed;
    top: 235px; /* Pas de bovenste positie aan naar wens */
    left: 10px; /* Pas de linker positie aan naar wens */
    z-index: 1; /* Zorg ervoor dat het boven andere elementen ligt */
}

  /* Stijl voor de tabel binnen het tekstvak */
  .fixed-text-box table {
    width: 100%;
    border: none;
    text-shadow: 4px 4px 10px green;
    font-weight: bold;
    font-style: italic;
    border-collapse: collapse;
  }

  .fixed-text-box table, .fixed-text-box th, .fixed-text-box td {
    border: none;
    text-shadow: 4px 4px 10px green;
    font-weight: bold;
    font-style: italic;
    border-radius: 5px;
  }

  .fixed-text-box th, .fixed-text-box td {
    padding: 8px;
    text-align: left;
    text-shadow: 4px 4px 10px green;
    font-weight: bold;
    font-style: italic;
    border-radius: 5px;
    border: none;
  }

  .fixed-text-box th {

    background-color: black;
    color: white;
    text-shadow: 4px 4px 10px green;
    font-weight: bold;
    font-style: italic;
    border: none;
    border-radius: 5px;
  }

/* Styles for the logout button */
.logout-button {
    position: absolute;
    top: 195px;
    right: 540px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-style: italic;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}

.logout-button:hover {
    background-color: green;
    color: white;
}
    /* Style the Refresh Cards button */
        .refreshcards-button {
    background-color: Black; /* Black background */
    color: white; /* White text color */
    border: none;
    text-shadow: 4px 4px 10px green;
    font-weight: bold;
    font-style: italic;
    padding: 10px 20px;
    cursor: pointer;
    position: fixed;
    border-radius: 5px;
    bottom: 10px; /* Adjust the bottom position as needed */
    right: 10px; /* Adjust the right position as needed */
    z-index: 1; /* Ensure it's on top of other elements */
}

/* Style the Refresh Page button */
.refreshpage-button {
    background-color: Black; /* Black background */
    color: white; /* White text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-shadow: 4px 4px 10px green;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    position: fixed;
    bottom: 10px; /* Adjust the bottom position as needed */
    left: 10px; /* Adjust the left position as needed */
    z-index: 1; /* Ensure it's on top of other elements */
}

